.row-data {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    border        : 1px solid;
}

.row-data div {
    width          : calc(100% / 6);
    display        : flex;
    border         : 1px solid;
    justify-content: center;
    align-items: center;
}
.label{
    font-size: 16px;
    font-weight: 600;
}